<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>CMPT 213 Online Hangman Game</title>
</head>


<h1><span>Game </span><span th:text="${currentGame.id}"></span> <span> page</span><br/></h1>

<span>Status: </span> <span th:text="${currentGame.gameStatus()}"></span><br/>
<span><img th:src="@{/images/progress.png}" width="125" height="35" alt="Progress: "/></span> <span
        th:text="${currentGame.message.getCensoredMessage()}"></span><br/>
<span>You have made </span>
<span th:text="${currentGame.getNumOfGuesses()}"></span><span> guesses, out of which </span><span
        th:text="${currentGame.getNumOfIncorrectGuesses()}"></span><span> are incorrect.</span> <br/>


<form action="#" th:action="@{/game}" th:object="${currentGame}" method="post">
    <label>Your guess: </label>
    <input type="text" maxlength="1" class="form-control" th:field="*{guess}"
           oninput="this.value = this.value.replace(/[^a-z]/, '')" required>
    <button type="submit"> Make a guess</button>
</form>
<br/>
<a href="/welcome">Back to welcome page</a>

</html>