html {
    font-family: sans-serif;
}
body {
   background-image: url("/images/hangmanbackground.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
h1 {
  color: white;
}
form {
  color: white;
}

span {
  color: white;
}